.description {
    background-color: #FFFFFF;
    overflow: hidden;
}
.description-container {
    padding: 12em 0;
    color: #2128BD;
    font-family: Montserrat,sans-serif;
    line-height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.description-text {
    margin: 7em 3em;
}

.description-image {
    background-image: url(img/desc.png);
    -webkit-font-smoothing: antialiased;
    margin: 2em 0 0em;
    width: 30em;
    height: 25em;
    background-repeat: no-repeat;
    background-size: 35em;
}

.description-text p {
    font-weight: 300;
    font-size: 1.6em;
}

.description-text h2 {
	 font-size: 2em;
	 font-weight: 700;
}
.description-text p {
	 font-size: 1.6em;
}
.footer {
	color: #2128BD;
  line-height: 1em;
}
.footer a {
	display: block;
  color: inherit;
	text-decoration: none;
	padding: 12px 0 0;
}
.text-center h3 {
	color: #2128BD;
	font-family: Montserrat,sans-serif;
	font-size: 70px;
    letter-spacing: -3.48px;
    line-height: 70px;
    font-weight: 600;
  letter-spacing: -4.18px;
}
.getapp {
	 padding: 0px 16px;
	 display: inline-block;
}
.button {
	height: 72px;
  min-width: 203px;
  padding: 0 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
  letter-spacing: -.21px;
  line-height: 18px;
  border-color: rgba(0, 95, 254, 0.3);
}

.button4 {
  background-color: #ECF1FD;
  color: black;
  border: 2px solid #e7e7e7;
}
.getapp button:disabled, button[disabled]{
  border: 1px solid #999999;
  background-color: #ECF1FD;
  color: #2128bd;
  opacity: .5;
}
.btn-text {
  display: inline-block;
  text-align: left;
}
#store-logo {
  text-align: center;
  padding-right: 10px;
  padding-bottom: 10px;
  
}

/*MEDIA QUERY*/

/* @media (max-width: 1200px) @media (max-width: 1024px) @media (max-width: 768px) @media (max-width: 425px) @media (max-width: 375px) */

@media (max-width: 1024px) {
  .text-center h3 {
    font-size: 65px;
    line-height: 68px;
  }
}

@media (max-width: 768px) {
    .text-center h3 {
    font-size: 55px;
    line-height: 62px;
  }
}


@media (max-width: 425px) {
  .description-image {
    margin: 0;
    background-size: 28em;

  }

  .text-center h3 {
    font-size: 45px;
    line-height: 53px;
  }
}

@media (max-width: 375px) {
  .description-text {
    margin: 7em 1em;
  }

  .description-image {
    margin: 0;
    background-size: 25em;
  }
}

@media (max-width: 320px) {
  .description-text {
    margin: 7em 0;
    padding: 0;
  }

  .description-image {
    margin: 0;
    background-size: 21.2em;
  }

  .text-center h3 {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2.18px;
  }
}